<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Contact</title>
</head>
<body>
    <h1>
        Add a contact
    </h1>

    <a href="/contacts">View all contacts</a>
    
    <hr>

    <form method="POST" action="/create" data-th-object="${person}"> 
        <table>
            <tr>
                <td>
                    Full Name
                </td>
                <td>
                    <input type="text" data-th-field="*{fullName}">
                    <span data-th-if="${#fields.hasErrors('fullName')}"
                        data-th-errors="*{fullName}">
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    Email
                </td>
                <td>
                    <input type="text" data-th-field="*{email}">
                    <span data-th-if="${#fields.hasErrors('email')}"
                        data-th-errors="*{email}">
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    Postal Code
                </td>
                <td>
                    <input type="text" data-th-field="*{postalCode}">
                    <span data-th-if="${#fields.hasErrors('postalCode')}"
                        data-th-errors="*{postalCode}">>
                    </span>
                </td>
            </tr>

            <tr>
                <td>
                    Phone Number
                </td>
                <td>
                    <input type="text" data-th-field="*{phoneNumber}">
                    <span data-th-if="${#fields.hasErrors('phoneNumber')}"
                        data-th-errors="*{phoneNumber}">>
                    </span>
                </td>
            </tr>

            <tr>
                <td>

                </td>
                <td>
                    <button type="submit">Add</button>
                </td>
            </tr>

        </table>
    </form>
</body>
</html>
